/**
==========================NICER CSS SETUP=============================
**/

/* Hide world description, labels(select user, pass, admin pass) and session info */
#join-game .right.flexcol, #join-game .join-body .app .form-group label, body.vtt.players .watermark, #join-game .left.flexcol .app:nth-of-type(2) {
  display: none;
}

/* Hide default background textures, frames */
#setup #join-game .app {
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

/* Set the layout model we'll be working with */
#setup {
  align-items: flex-start;
}

/* Set the width and position for the box(es).*/
#join-game {
/* If you want to make the box(es) wider (to fit a bigger title), change width here.  */
  width: 220px;
  top: calc(50% - 200px);
/* Make the box(es) hug left side */
  margin: 50px;
/* Center all the text */
  text-align: center;
}

/* Set the gray background */
#setup #join-game .app {
  background: rgba(0, 0, 0, 0.35);
}

#setup #join-game #world-title {
/* Y-axis space for the world name. If you want more height space for the title, change this */
  height: 90px;
/* Center world name */
  display: flex;
  align-items: center;
/* Unify the "title" box with the "join game session" box */
  margin-bottom: 0;
}

/* Keep the lines in the tile close together. Default: 2 */
#setup #join-game #world-title h1 {
  line-height: 1;
}

/* Unify the "Join Game Session" box with the "Setup" box. */
#setup #join-game .join-body .app {
  margin-bottom: 0;
}

/* Hide the subtitles that are identical with the text inside the buttons */
/* Methinks it looks pretty intuitive like this. If you want the text back delete this section. */
#setup #join-game .join-body .left .app h1 {
  display: none;
}

/* Make the input fields a bit shorter */
#setup #join-game .join-body .app .form-group input,
#setup #join-game .join-body .app .form-group select {
  height: 25px;
  width: 100%;
}

#setup #join-game .join-body button {
/* Center, color, resize the buttons */
  margin: 0;
  background-color: #7c2829;
  color: white;
  border-color: #491718;
  height: 40px;
}
#setup #join-game .join-body button:hover {
  background-color: #952f30;
}
